/20240311 Employment Offer-  Abhijeet Somkuwar- Bangalore_signed.pdf
/aadhar (1).jpg
/adhar_card_and_pan_card.pdf
/Bank_passbook.jpg
/Bank_passbook.pdf
/cast_certificate.jpg
/error.txt
/marksheets.pdf
/nptl.pdf
/passport_photo-min.jpg
/passport_photo.jpg
/passport_photo01.jpg .pdf
/Presentation_FW-main
/sign-min (1)-fotor-bg-remover-20240401104151.png
/sign-min (1).jpg
/WhatsApp Image 2024-01-25 at 18.34.22_eff7b71b.jpg